*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{

    height: 100vh;
    width: 100vw;
    background-color: lightcyan;
}
nav{
    width: 100%;
}
.nav-bar{
    background-color: blueviolet;
    min-height: 50px;
}

#nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

#nav-item{
    display: flex;
    
    gap: 20px ;
}
#nav-item a{
    text-decoration: none;
    color: azure;
}
#logo{
    color: azure;
}
footer{
    width: 100%;
    background-color: blueviolet;
    min-height: 50px ;
}
.fbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fbox p{
    color: aliceblue;
    font-size: 1.2rem;
}

.content{
    width: 70%;
    margin: auto;
    border: 1px solid red;
}

.item{
    display: flex;
}
.lbox{
    padding: 10px ;
}
.content img{
    height: 400px;
}

 .ol{
    list-style-type: none;
}
.ul{
    list-style-type: none;
}
